:root{
    --primary-font: "Roboto", sans-serif;
    --iris: #4D5AE5;
    --ocean: #404BBF;
    --navy-blue: #2E2F42;
    --green: #31D0AA;
    --slate: #434455;
    --light-slate: #8E8F99;
    --cornflower: #E7E9FC;
    --cloud: #F4F4FD;
    --navy-blue-modal: #2E2F42;
    --grey: #2E2F42;
    --white: #FFFFFF;
    --dairy: #FCFCFC;
    }

/* colors */

.color-body{
    color: var(--slate);
    background-color: var(--white);
    }
.header-color{
    background-color: #FFFFFF;
}
.logo-color{
    color: var(--iris);
}
.studio-color{
    color: var(--navy-blue);
}
.link-color{
    color: var(--navy-blue);
}
.interactive:hover, .interactive:focus{
    color: var(--ocean);
}
.adress-color{
    color: var(--slate);
}
.base-color{
    background-color: var(--navy-blue);
}
.title-color{
    color: var(--white);
}
.c-light-slate{
    color: var(--light-slate);
}
.button-color{
    border: 0;
    background-color: var(--iris);
    color: var(--white);
    cursor: pointer;
    display: block;
    min-width: 169px;
    height: 56px;
    border-radius: 4px;
}
.active-button:hover, .active-button:focus{
    color: var(--white);
    background-color: var(--ocean);
}
.headline{
    color: var(--navy-blue);
}
.base-cloud{
    background-color: var(--cloud);
}
.bc-white{
    background-color: var(--white);
}
.base-cornflower{
    background-color: var(--cornflower);
}
.cloud-color{
    color: var(--cloud);
}
.contacts-color{
    color: var(--slate);
}
/* styles */

.no-markers{
    list-style-type: none;
}
.no-underline {
    text-decoration: none;
}
.font-style-normal{
    font-style: normal;
}
.text-center{
    text-align: center;
}

/* text decoration */

.text-body {
    font-family: Roboto, sans-serif;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.02em;
    line-height: 1.5; /* множник: line-height / font-size */
}
.logo-text {
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17; 
    letter-spacing: 0.03em;
    text-transform: uppercase;
}
h1 {
    font-family: Roboto, sans-serif;
    font-size: 56px;
    font-weight: bold;
    letter-spacing: 0.02em;
    line-height: 1.07;
}
h2 {
    font-family: Roboto, sans-serif;
    font-size: 36px;
    font-weight: bold;
    letter-spacing: 0.02em;
    line-height: 1.11;
    text-transform: capitalize;
}
h3 {
    font-family: Roboto, sans-serif;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 0.02em;
    line-height: 1.2; 
}
.body-medium {
    font-family: var(--primary-font);
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5; 
    letter-spacing: 0.02em;
}
.small-text {
    font-family: var(--primary-font);
    font-size: 12px;
    font-weight: 400;
    line-height: 1.17; 
    letter-spacing: 0.04em;
}
.button-text {
    font-family: var(--primary-font);
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.04em;
    line-height: 1.5; 
}
.link-text {
    font-family: var(--primary-font);
    font-size: 12px;
    font-weight: normal;
    letter-spacing: 0.04em;
    line-height: 1.33; 
    text-decoration: underline;
}



h1,h2,h3,h4,h5,h6,p{
    margin: unset;
    padding: unset;
}
ul,ol{
    margin: 0;
    padding: 0;
}
img {
	display: block;
	max-width: 100%;
}
.header{
    border-bottom: 1px solid var(--cornflower);
    box-shadow: 0 2px 1px rgba(46, 47, 66, 0.08),
                0 1px 1px rgba(46, 47, 66, 0.16),
                0 1px 6px rgba(46, 47, 66, 0.08);
}
.container {
    max-width: 1158px;
    margin: 0 auto;
    padding: 0 15px;
}
.page-nav{
    display: flex;
    align-items: center;
}
.logo{
    margin-right: 76px;
}
.menu{
    display: flex;
    gap: 40px;
    padding-left: 0; 
}
.menu-item{
    display: block;
    padding: 24px 0;
    font-weight: 500;
}
.flex{
    display: flex;
    align-items: center;
}
.contacts{
    margin-left: auto;
    
}
.contacts-list{
    display: flex;
    gap: 40px;
    padding-left: 0;
    margin-left: auto;
}


.section{
    margin: 0 auto;
    padding: 188px 0;
}
.title{
    max-width: 496px;
}
.direction-column{
    flex-direction: column;
    align-items: center;
}
.display{
    display: flex;
}
.button-top{
    margin-top: 48px;
}
.info{
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
}
.info-item{
    flex-basis: calc((100% - 72px) / 4);
}
.hero-img{
    background-repeat: no-repeat;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/hero.jpg);
    background-position: center;
    max-width: 1440px;
    background-size: cover;
}


.section-features{
    padding: 120px 0;
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
.headline-bottom{
    margin-bottom: 8px;
}
.icon{
    background-color: var(--cloud);
    border: 1px solid var(--light-slate);
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    margin-bottom: 8px;
    height: 112px;
}
.icon svg{
    display: flex;
    align-items: center;
    justify-content: center;
}


.section-team{
    padding: 120px 0;
}
.headline-team{
    margin-bottom: 72px;
}
.card-set {
    display: flex;
    /* Make a flex container multiline */
    flex-wrap: wrap;
    /* Set gap between rows and columns */
    gap: 24px;
    padding: 0;
    list-style: none;
  }
  .item {
    /*  Set the width of the elements  */
    flex-basis: calc((100% - 72px) / 4);
    background-color: var(--white);
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
                0 1px 1px 0 rgba(46, 47, 66, 0.16),
                0 1px 6px 0 rgba(46, 47, 66, 0.08);

  }
 .team-card{
    padding: 32px 0;
 }
  .headline-name{
    margin-bottom: 8px;
    text-align: center;
  }
  .text-position{
    text-align: center
}
.social-links{
    justify-content: center;
    gap: 24px;
    margin-top: 8px;
}
.icon-size{
    height: 40px;
    width: 40px;
}
.fill{
    fill: var(--cloud);
}


.icon-team{
    border-radius: 50%;
    width: 40px;
    height: 40px;
    background-color: var(--iris);
    gap: 24px;
    border: none;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.icon-team:hover{
    background-color: var(--ocean);
}

.icon-team:focus{
    background-color: var(--ocean);
}



  .section-portfolio{
    padding-top: 120px; 
    padding-bottom: 120px
}
  .headline-portfolio{
    margin-bottom: 72px;
  }
  .portfolio-set{
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
    padding: 0;
    list-style: none;
  }
  .portfolio-item{
    flex-basis: calc((100% - 48px) / 3);
  }
  .portfolio-item:hover{
    box-shadow: 0 1px 6px rgba(46, 47, 66, 0.08),
                0 1px 1px rgba(46, 47, 66, 0.16),
                0 2px 1px rgba(46, 47, 66, 0.08);
  }
  .portfolio-card{
    padding: 32px 16px;
    border: 1px solid var(--cornflower);
    border-top: none; 
  }
  .portfolio-title{ 
    margin-bottom: 8px;
  }
  .portfolio-item:nth-last-child(-n+3) {
    margin-bottom: 0;
}
.transition{
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.btn-transition{
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.transition-shadow{
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hover-container{
    position: relative;
    overflow: hidden; 
}
.hover-text{
    position: absolute;
    top: 0;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color:var(--cloud);
    padding: 40px 32px;
    background-color:var(--iris);
    height: 100%;
    width: 100%;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-item:hover .hover-text{
    transform: translateY(0%);
    color: #fff;
}


  .footer{
    padding: 100px 0;
}
.footer-logo{
    display: inline-block;
    margin-bottom: 16px;
}
.footer-text{
    max-width: 264px;
}
.icon-footer{
    border-radius: 50%;
    width: 40px;
    height: 40px;
    background-color: var(--iris);
    border: none;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.social-text{
    color: var(--white);
    margin-bottom: 16px;
    font-weight: 500;
    justify-content: center;
}
.footer-social-links{
    justify-content: center;
    gap: 16px;
}
.footer-style{
    align-items: baseline
}
.footer-logo-block{
    margin-right: 120px;
}
.icon-footer:hover{
    background-color: var(--green);
}
.icon-footer:focus{
    background-color: var(--green);
}
/* імпут футер */

.subscribe-block{
    margin-left: 80px;
}
.subscribe{
    gap: 24px;
}
.label-subscribe{
    gap: 24px;
}
.footer-input{
    border-radius: 4px;
    border: 1px solid var(--white);
    height: 40px;
    width: 264px;
    color: var(--white);
    padding-left: 16px;
    background-color: transparent;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.15);
    outline: none;
}
.footer-input::placeholder{
    color: var(--white);
}
.btn-subscribe{
    border: 0;
    background-color: var(--iris);
    color: var(--white);
    cursor: pointer;
    min-width: 165px;
    display: flex;
    height: 40px;
    border-radius: 4px;
    padding: 8px 24px;
    justify-content: center;
    align-items: center;
}
.btn-subscribe:hover{
    background-color: var(--ocean);
}
.btn-subscribe:focus{
    background-color: var(--ocean);
}
.icon-send{
    margin-left: 16px;
    fill: var(--white);
}


/* підкреслення */
.selected::after{
    content: "";
    width: 100%;
    position: absolute;
    left: 0;
    bottom: -1px;
    height: 4px;
    background-color:var(--ocean);
    border-radius: 2px;
}
.currently{
    position: relative;
    color: var(--ocean);
}

/* модалка */
.modal-overlay{
    display: flex;
    z-index: 999;
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: rgba(46, 47, 66, 0.4);
    justify-content: center;
    align-items: center;
    top: 0;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
/* приховати */
    /* opacity: 0;
    visibility: hidden;
    pointer-events: none; */
    
    &.is-open{
        opacity: 1;
        visibility: visible;
        pointer-events: initial;
    }
}

.modal{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 999;
    max-width: 408px;
    width: 100%;
    min-height: 584px;
    padding: 72px 24px 24px 24px;
    background-color: var(--dairy);
    border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.14), 0 1px 3px rgba(0, 0, 0, 0.12), 0 2px 1px rgba(0, 0, 0, 0.2);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.close-btn{
    position: absolute;
    border-radius: 4px;
    width: 24px;
    height: 24px; 
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: var(--cornflower);
    border: 1px solid rgba(0, 0, 0, 0.1);
    top: 24px;
    right: 24px;
    padding: 0;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-btn:hover,
.close-btn:focus {
    background-color: var(--ocean);
    border: none;
}
.close-btn:hover svg,
.close-btn:focus svg{
    fill: var(--white);
}
.icon-close{
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-caption {
    margin-bottom: 16px;
    text-align: center;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.32px;
    color: var(--navy-blue);
}

.modal-form {
    display: flex;
    flex-direction: column;
    row-gap: 8px;
    margin-top: 16px;
}

.form-container{
    margin-bottom: 8px;
}
.text-area-container{
    margin-bottom: 16px;
}
.modal-form-input {
    background-color: transparent;
    width: 100%;
    height: 40px;
    outline: transparent;
    border-radius: 4px;
    padding-left: 38px; 
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1); 
    border: 1px solid rgba(46, 47, 66, 0.4);
}

.modal-form-label {
    display: block;
    margin-bottom: 4px;
    color: var(--light-slate);
    
  
    /* Small Text */
    font-family: Roboto;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.17;
    letter-spacing: 0.48px;
}

.input-wrapper {
    position: relative;
    display: flex;
    align-items: center;
}

.modal-icon {
    position: absolute;
    /* padding: 3px 0px; */
    top: 50%;
    left: 16px;
    transform: translateY(-50%);
    fill: var(--navy-blue);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.input-wrapper:focus-within .modal-icon {
    fill: var(--iris);
  }

.modal-icon-input:focus-within .modal-form-input {
    border-radius: 4px;
    border: 1px solid var(--iris); 
}



.modal-form-input:focus {
    border-color: var(--iris); 
}


.text-field{
    height: 120px;
    width: 100%;
    resize: unset;
    border-radius: 4px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    padding: 8px 16px;
    /* color: rgba(46, 47, 66, 0.4);  */
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    background-color: transparent;
    outline: transparent; 
    resize: none;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}
.text-field:focus{
    border-color: var(--iris);
}
.checkbox-container{
    margin-bottom: 24px;
}
.custom-checkbox{
    width: 16px;
    height: 16px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 2px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    fill: transparent;
}
.checkbox{
    height: 16px;
    width: 16px;
    margin-right: 8px;
    border: 1px solid rgba(0, 0, 0, 0.1);
}

.checkbox[type="checkbox"]:checked ~ label .custom-checkbox{
    background-color:var(--ocean);
    border: none;
    fill: var(--cloud);
}
.checkbox-transition{
    transition: accent-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.border-transition{
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.placeholder-text{
    
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
}
.policy{
    margin-left: 0.3em;
    color: var(--iris)
}

.btn-modal{
    border: none;
    display: block;
    background-color: var(--iris);
    color: var(--white);
    cursor: pointer;
    min-width: 169px;
    height: 56px;
    border-radius: 4px;
    margin: 24px auto 0;
    justify-content: center;
    align-items: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}
.btn-modal:hover,
.btn-modal:focus{
    background-color: var(--ocean);
}
